@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-20px {
  bottom: 20px !important;
}
body {
  overflow-x: hidden;
}
@layer utilities {
  .custom-shape {
    @apply relative w-72 h-72 bg-white overflow-hidden;
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 60% 100%, 0% 50%);
  }
}

.clip-path {
  clip-path: ellipse(241.08px 206.21px at 50% 50%);
}

/* Ellipse 465 */
.ellipse-clip {
  width: 482.16px;
  height: 412.43px;
  left: 886.51px;
  top: 2226.55px;

  /* Clip-path for ellipse */
  clip-path: path('M472.071 245.381C472.071 351.568 510.27 413.302 402.99 413.302C295.71 413.302 0.796875 312.853 0.796875 206.666C0.796875 100.478 305.897 0.871582 413.177 0.871582C520.456 0.871582 472.071 139.193 472.071 245.381Z');
}
.clipped-element {
  width: -webkit-fill-available; /* Set the width of your element */
  height: -webkit-fill-available; /* Set the height of your element */
  background-color: #ffffff; /* Background color of the element */
  background-size: cover; /* Ensure the background image covers the element */
  clip-path: path("M1941.81 75.1663C1941.81 584.641 2122.1 880.833 1615.76 880.833C1109.42 880.833 -282.525 398.891 -282.525 -110.583C-282.525 -620.058 1157.5 -1097.96 1663.84 -1097.96C2170.18 -1097.96 1941.81 -434.309 1941.81 75.1663Z");
  position: absolute; /* Make sure it doesn't affect the layout */
  top: -50px;
  left: 0;
  
}

.clipped-element2-background {
  width: -webkit-fill-available; /* Set the width of your element */
  height: -webkit-fill-available; /* Set the height of your element */
  background-color: #ffffff; /* Path to your background image */
  background-size: cover; /* Ensure the background image covers the element */
  background-position: center; /* Center the background image */
  clip-path: path("M1018.63 574.062C799.79 852.208 987.581 1226.21 617.29 1226.21C-12.6818 1280.73 -682.296 1079.12 -452.806 669.897C-452.806 300.314 -152.626 0.70813 217.665 0.70813C587.955 0.70813 1018.63 204.48 1018.63 574.062Z");
  position: absolute; /* Make sure it doesn't affect the layout */
  top: 0;
  left: 0;
}

.z-index-custom{
  z-index: 2; /* Ensure it is behind the content */

}

.slick-slide > div {
  margin: 0 15px;
}

.slick-dots li.slick-active button:before {
  color:orange !important;
}

@media (max-width: 781px) {
  .appointment-container {
    position: static;
    margin-top: 20px; /* Add some space between the content and the appointment section */
  }

  .appointment-container::before {
    content: "";
    display: block;
    height: 100px; /* Adjust the height to add more space */
  }

  .appointment-container::after {
    content: "";
    display: block;
    height: 50px; /* Adjust the height to add more space */
  }
}
